*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFE0;
}

/* Nav Bar Styling */
nav {
    text-align: center;
    padding-top: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 10px; 
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login-label{
    display:block;
    position: static;
    font-size: 36px;
    margin-top: -80px;
    margin-bottom: 130px;
    margin-right: 10px;
    color:#000000
}

.email-group{
    width : 90%;
    max-width: 600px;
    position: relative;
    bottom: 70px;
}

#email-field{
    display: block;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #000000;
    background: transparent;
    outline:none;
    font-size: 26px;
    padding: 5px 2px;
    position: relative;
    z-index: 10;
}

#email-label{
    display:block;
    position: absolute;
    bottom: 5px;
    left: 2px;
    color: #777;
    font-size: 18px;
    transition: bottom 0.3s;
}

#email-error{
    position: absolute;
    top: 100%;
    left: 2px;
    font-size: 16px;
    font-weight: 400;
    color: red;
    transition: top 0.5s;
}

.password-group{
    width : 90%;
    max-width: 600px;
    position: relative;
}

#password-field{
    display: block;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #000000;
    background: transparent;
    outline:none;
    font-size: 26px;
    padding: 5px 2px;
    position: relative;
    z-index: 10;
}

#password-label{
    display:block;
    position: absolute;
    bottom: 5px;
    left: 2px;
    color: #777;
    font-size: 18px;
    transition: bottom 0.3s;
}

#password-error{
    position: absolute;
    top: 100%;
    left: 2px;
    font-size: 16px;
    font-weight: 400;
    color: red;
    transition: top 0.5s;
}

/* University of Maryland Colors */
.umd-primary-color {
    background-color: #D00024; /* UMD red color */
    color: #FFFFFF; /* White text on red background */
    text-decoration: none;
    padding: 10px 13px 10px 13px;
    border-radius: 25px;
    margin-top: 50px;
    font-size: 25px;
}

.umd-secondary-color {
    background-color: #FFD100; /* UMD gold color */
    color: #000000; /* Black text on gold background */
}