*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    min-width: 390px;
    color: #FAF9F6;
}

/* Header Styling */
.header {
    background-color: #D00024;
    color: #FFFFFF;
    padding: 15px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

h1{
    text-align: center;
}

#terpy{
    width: 13%;
    max-width: 13%;
    padding: 6px;
    position: absolute;
}
/* Nav Bar Styling */
nav {
    text-align: center;
    /*padding-top: 50px;*/
    font-size: 16px;
    padding: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 10px; 
}

/* Buttons */
.button {
    background-color: #D00024;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.button:hover {
    background-color: #FFD100;
}

/* Links */
a {
    color: #D00024;
    text-decoration: none;
    padding: 10px 13px 10px 13px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

a:hover {
    text-decoration: underline;
    transform: scale(1.1);
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login-label{
    display: block;
    position: static;
    font-size: 36px;
    margin-top: -150px;
    margin-bottom: 130px;
    margin-right: 210px;
    color:#FFFFFF
}

.email-group{
    width : 90%;
    max-width: 600px;
    position: relative;
    bottom: 70px;
}

#email-field{
    display: block;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #FFFFFF;
    background: transparent;
    outline:none;
    font-size: 26px;
    padding: 5px 2px;
    position: relative;
    z-index: 10;
}

#email-label{
    display:block;
    position: absolute;
    bottom: 5px;
    left: 2px;
    color: #777;
    font-size: 18px;
    transition: bottom 0.3s;
}

#email-error{
    position: absolute;
    top: 100%;
    left: 2px;
    font-size: 16px;
    font-weight: 400;
    color: red;
    transition: top 0.5s;
}

.password-group{
    width : 90%;
    max-width: 600px;
    position: relative;
}

#password-field{
    display: block;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #FFFFFF;
    background: transparent;
    outline:none;
    font-size: 26px;
    padding: 5px 2px;
    position: relative;
    z-index: 10;
}

#password-label{
    display:block;
    position: absolute;
    bottom: 5px;
    left: 2px;
    color: #777;
    font-size: 18px;
    transition: bottom 0.3s;
}

#password-error{
    position: absolute;
    top: 100%;
    left: 2px;
    font-size: 16px;
    font-weight: 400;
    color: red;
    transition: top 0.5s;
}

#login-button{
    padding: 0px 0px;
    text-align: center;
    padding: 5px 5px;
}

/* University of Maryland Colors */
.umd-primary-color {
    background-color: #D00024; /* UMD red color */
    color: #FFFFFF; /* White text on red background */
    text-decoration: none;
    padding: 10px 13px 10px 13px;
    border-radius: 25px;
    margin-top: 50px;
    font-size: 24px;
}

.umd-secondary-color {
    background-color: #FFD100; /* UMD gold color */
    color: #000000; /* Black text on gold background */
    text-decoration: none;
    padding: 10px 13px 10px 13px;
    border-radius: 25px;
    margin-top: 50px;
    font-size: 24px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    /* Adjust styles for screens with a maximum width of 768px (e.g., tablets and smaller screens) */
    .header {
        padding: 10px;
        font-size: 20px;
    }

    li {
        margin-right: 5px;
    }
}

@media (max-width: 480px) {
    /* Adjust styles for screens with a maximum width of 480px (e.g., smartphones) */
    .header {
        padding: 5px;
        font-size: 18px;
    }

    li {
        margin-right: 3px;
    }

    .button {
        padding: 5px 10px;
        margin: 5px;
        font-size: 14px;
    }
}

